img{
    width: 120px;
    padding: 10px;
    padding-bottom: 0px;
}

.card{
    width: 120px;
    border: black 1px solid;
    display: inline-block;
    margin: 20px;
    box-shadow: 8px 8px 10px rgb(194, 194, 194);
    transition: transform .1s; 
}

.card:hover{
    transform: scale(1.1);
}

.font{
    font-size: 10px;
    margin: 20px;
    line-height: 0px;
}