img{
    width: 120px;
    padding: 10px;
    padding-bottom: 0px;
}

.card{
    width: 120px;
    border: black 1px solid;
    display: inline-block;
    margin: 20px;
   
}
.font{
    font-size: 10px;
    margin: 20px;
    line-height: 0px;
}